@using Test_Task.Enums
@using Test_Task.ViewModels
@model IndexViewModel

<center>
<form method="get">
    <div class="form-inline">
        <label>Год: </label>
        <input name="year" value="@Model.FilterViewModel.SelectedYear" class="yearInput" placeholder="Выберете год"/>
            <label>Месяц</label>
            <select name="month" asp-items="@Html.GetEnumSelectList<Months>()">
                <option>Выберете месяц</option>
            </select>

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>
</center>

<div class="album py-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Московское время</th>
                <th scope="col">T</th>
                <th scope="col">Отн. влажность воздуха,%</th>
                <th scope="col">ТD</th>
                <th scope="col">Атм.давление мм рт.ст</th>
                <th scope="col">Направление ветра</th>
                <th scope="col">Скорость ветра м/с</th>
                <th scope="col">Облачность %</th>
                <th scope="col">h</th>
                <th scope="col">VV</th>
                <th scope="col">Погодные явления</th>

                @foreach (var item in Model.Data)
                {
                    <tbody>
                        <tr> 
                            <td>@item.Date</td>
                            <td>@item.MoscowTime</td>
                            <td>@item.Temperature</td>
                            <td>@item.Humidity</td>
                            <td>@item.DewPoint</td>
                            <td>@item.AtmosphericPressure</td>
                            <td>@item.WindDirection</td>
                            <td>@item.WindSpeed</td>
                            <td>@item.CloudCover</td>
                            <td>@item.LowLimit</td>
                            <td>@item.HorizontalVisibility</td>
                            <td>@item.WeatherPhenomena</td>
                        </tr>
                    </tbody>
                }
        </tr>
        </thead>
    </table>
</div>

<partial name="pager" model="@Model" />